/* section {
  margin: auto;
  width: 70%;
  margin-top: 1rem;
}

.divnav2 {
  display: flex;
  margin-left: 10rem;
  word-spacing: 4rem;
  margin-top: -1rem;
  text-align: center;
  font-size: 1.3rem;
}

h4 {
  margin-left: 2rem;
}

.icon1 {
  width: 2rem;
  height: 2rem;
  margin-left: 4rem;
  margin-top: 1.5rem;
}
.icon2 {
  width: 2rem;
  height: 1.8rem;
  margin-left: 3rem;
}

.icon3 {
  width: 2rem;
  height: 1.7rem;
  margin-left: 3rem;
}
.div1 {
  margin-top: 1rem;
  margin-left: 2.8rem;
}
.pic {
  width: 16rem;
  height: 29rem;
  float: right;
  margin-top: 1.6rem;
  margin-right: 3rem;
} */
