/* .maindiv1 {
  background-color: rgb(238, 230, 238);
  width: 90%;
  height: 29rem;
  margin: auto;
}
.btn {
  background-color: rgb(117, 49, 182);
  color: white;
  font-size: medium;
  width: 10rem;
  height: 2rem;
  border-radius: 5px;
  padding-right: 1rem;
}
.bottom {
  margin-left: 8rem;
  margin-top: -15rem;
}
.input {
  width: 13rem;
  height: 1.7rem;
  border-radius: 5px;
}
.top1 {
  padding: 5rem;
  font-size: 1.9rem;
  font-family: Georgia, serif;
}
.top2 {
  margin-top: -5rem;
  margin-left: 5rem;
  font-size: 1.3rem;
  color: rgb(170, 81, 170);
} */
